@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./normalize.css";

$primary-color: green;

h1 {
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
    width: 300px;
  }
}

.toAddress {
  margin-left: 30%;
  margin-top: 30px;
  font-size: 24px;
  display: none;
}

.fromAddress {
  margin-top: -15px;
  display: none;
}

@media print {
  .fromAddress {
    margin-top: -15px;
    display: block;
  }

  .toAddress {
    display: block;
  }

  .addressList {
    display: none;
  }
}
